.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    position: absolute;
    left: 0;
  }

  &__navigation {
    width: 26.938rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.938rem;
    position: absolute;
    right: 0;

    ul {
      font-weight: map-get($font-weights, regular);
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0%;
      margin: 0%;
    }
    a {
      color: $dark-grayish-blue;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
      color: $soft-orange;
    }
  }
}
