@import "resets";
@import "variables";
@import "header";
@import "middlesection";
@import "articles";
@import "mobile";
@import "menu";

body {
  max-width: fit-content;
  background-color: $off-white;
  font-family: "Inter", sans-serif;
  margin-top: 5.563rem;
  margin-left: 10.313rem;
  margin-right: 10.313rem;
  margin-bottom: 8.063rem;
}
